.admin-layout {
  height: 100vh;

   .mat-sidenav {
        width: 273px;
        height: 1024px;
        color: #000;
        border-radius: 0 !important;
        overflow: hidden;
        

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }
}