table {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;

    //Remove lines between rows
    .mat-mdc-row, .mat-mdc-header-row, .mat-mdc-cell, .mat-mdc-header-cell {
        border-bottom: none !important;
    }

    // Header styling
    .mat-mdc-header-row{
        background-color: #F7F9FA;
        color: #A6A9AA;
    }


    // padding to body
    .mat-mdc-row .mat-mdc-cell {
        padding: 5px 15px;
    }
}