
// Recent Products
.title {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .title-product {
        font-weight: bold; 
        font-size: 18px; 
        font-family: "League Spartan", sans-serif;
        color: #000; 
    }

    .subtitle-text {
        display: flex;
        align-items: center;
        color: #ACB7BD;

        .text {
            font-size: 14px;
            color: #ACB7BD;
            cursor: pointer;
        }
    }
}

table {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;

    //Remove lines between rows
    .mat-mdc-row, .mat-mdc-header-row, .mat-mdc-cell, .mat-mdc-header-cell {
        border-bottom: none !important;
    }

    // Header styling
    .mat-mdc-header-row{
        background-color: #F7F9FA;
        color: #A6A9AA;
    }

    // padding to body
    .mat-mdc-row .mat-mdc-cell {
        padding: 5px 15px;
    }

}