.sidebar  {
    display: flex;
    flex-direction: column;
    padding: 0 0.6rem;
    font-family: 'Jost', sans-serif;

    mat-nav-list {
        flex: 1;
    }

    //Links   
    a {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem; 
        color: #AEB9BE;
        text-decoration: none;
        margin-bottom: 1rem;
        font-size: 15px;
        font-weight: 600;
    }

    // //////////////////////////////////////////////////////////////
    a.active {
        background-color: #EDF4FF;
        border-radius: 6px;
        color: #0561FC;
    }
     // //////////////////////////////////////////////////////////////

    p{
        margin: 0;
    }

    // Divider
    .mat-divider{
        color: #E4EBEF;
        margin-bottom: 1rem;
    }

    // Notification Circle
    a.has-badge {
        position: relative; 

        .badge {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            background-color: #FB7B7B;
            border-radius: 50%;
        }
    }

    /* Bottom footer */
    // //////////////////////////////////////////////////////////
    .sidebar-footer {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: #E9F0F3;
        border-radius: 8px;
        width: 207px;
        height: 56px;
        padding-left: 1rem;

       .avatar {
            width: 35px;
            height: 35px;
            border-radius: 4px;
        }

        .user-info {
            display: flex;
            flex-direction: column;

            .name {
                font-family: "League Spartan", sans-serif;
                font-size: 12px;
                color: #000;
                font-weight: bold;
            }

            .company {
                color: #ABB7BC;
                font-weight: 500;
                font-size: 12px;
            }
        }
    }
}