.dashboard-charts { 
    display: flex; 
    margin-top: 20px; 
    gap: 20px;
    
    .chart-card { 
        background-color: #fff; 
        border-radius: 10px; 
        
        .card-title-with-filters { 
            display: flex; 
            justify-content: space-between; 
            align-items: center; 
            width: 100%; 
        } 
        
        .title-text { 
            font-weight: bold; 
            font-size: 18px; 
            font-family: "League Spartan", sans-serif; 
            margin-bottom: 10px; 
        } 
        
        .filters { 
            display: flex; 
            gap: 8px; 
        } 
        
        .filters span { 
            cursor: pointer; 
            padding: 2px 6px; 
            border-radius: 4px; 
            font-size: 14px; 
            color: #C4CCD0; 
        } 
        
        .filters .active { 
            color: #0561FC; 
            font-weight: 600; 
        } 
    } 
}